Quinta/Quarto/convert.wsdl.xml

<definitions name="ConvertService"
    targetNamespace="urn:examples:convertservice"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="urn:examples:convertservice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <message name="CmToInRequest">
        <part name="cm" type="xsd:float"/>
    </message>

    <message name="CmToInResponse">
        <part name="result" type="xsd:float"/>
    </message>

    <message name="InToCmRequest">
        <part name="inch" type="xsd:float"/>
    </message>

    <message name="InToCmResponse">
        <part name="result" type="xsd:float"/>
    </message>

    <portType name="Convert_PortType">
        <operation name="cmToInch">
            <input message="tns:CmToInRequest"/>
            <output message="tns:CmToInResponse"/>
        </operation>
        <operation name="inchToCm">
            <input message="tns:InToCmRequest"/>
            <output message="tns:InToCmResponse"/>
        </operation>
    </portType>

    <binding name="Convert_Binding" type="tns:Convert_PortType">
        <soap:binding style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="cmToInch">
            <soap:operation soapAction="cmToInch"/>
            <input>
                <soap:body use="encoded"
                    namespace="urn:examples:convertservice"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded"
                    namespace="urn:examples:convertservice"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

        <operation name="inchToCm">
            <soap:operation soapAction="inchToCm"/>
            <input>
                <soap:body use="encoded"
                    namespace="urn:examples:convertservice"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded"
                    namespace="urn:examples:convertservice"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="Convert_Service">
        <port name="Convert_Port" binding="tns:Convert_Binding">
            <soap:address location="http://localhost/soap/server.php"/>
        </port>
    </service>

</definitions>
